h1{
    text-align: center;
    color: white;
    background-color: darkslategrey;
}
h1{
    border-radius: 6px;
    border: 2px solid whitesmoke;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

body{
    padding: 40px;
    background: url(Light-Shaded-Background.jpg);
    background-size: cover;
    border-color: black;
    font-size: 25px;
    font-style: italic;
}
.imgds{
    border-radius: 8px;
    border:2px solid #fff;
      background: url(img/tiger.png) no-repeat;
      box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}
img
{
    width: 800px;
}
div{
    display: grid;
    place-items: center;
}
hr{
    height: 8px;
    background-color: black;
}